<ul class="uib-datepicker-popup dropdown-menu ui uib-position-measure clearing segment" dropdown-nested ng-if="isOpen" ng-keydown="keydown($event)" ng-click="$event.stopPropagation()">
    <li ng-transclude></li>
    <li ng-if="showButtonBar" style="padding:10px 9px 2px">
        <span class="pull-left">
            <button type="button" class="ui primaryButton button primary" ng-click="select('today', $event)" ng-disabled="isDisabled('today')"><span ng-bind="getText('current')"></span></button>
        </span>
        <button type="button" class="ui secondaryButton button pull-right" ng-click="close($event)"><span ng-bind="getText('close')"></span></button>
    </li>
</ul>