.text-center{
    text-align:center;
}

.pull-left{
    float:left!important;
}

.pull-right{
    float:right!important;
}

.dropdown-menu li{
    list-style:none;
}

.dropdown-menu{
    position:absolute!important;
    z-index:1000;
    float:left;
    min-width:160px;
    padding:5px 0;
    margin:2px 0 0;
    list-style:none;
    font-size:14px;
    border:1px solid rgba(0,0,0,0.15);
    box-shadow:0 6px 12px rgba(0,0,0,.175);
    border-radius:4px;
    background-clip: padding-box;
}

uib-datepicker-popup-wrap table:focus{
    outline: -webkit-focus-ring-color 0!important;
    outline: 0!important;
}

uib-datepicker-popup-wrap th{
    padding-bottom:5px;
}

.uib-datepicker button.ui.button.small span {
    padding: .25em;
}

.uib-datepicker button.ui.button.small {
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.uib-datepicker button.today span {
    border: 1px solid #EEEEEE;
    border-radius: 100%;
    padding: 4px 8px !important;
}

.uib-datepicker button.text-muted {
   background: #c0c1c2 
   
}

.uib-datepicker button.text-muted:hover {
    background-color: rgb(192,192,192) !important;
    background-color: rgba(192,192,192,0.6) !important;
}

.uib-datepicker button.text-muted span {
    color: rgb(125,125,125);
    color: rgba(125,125,125,0.6);
}

.uib-datepicker button.text-muted:hover span {
    color: rgb(0,0,0);
    color: rgba(0,0,0,0.6);
}

button.ui.primaryButton.button.primary {
    background: RGBA(84, 133, 107, 1.00);
    color: #EEE;
    border-radius: 3px !important;
    border: 1px solid #333 !important;
    

}


day-selector td,   
div.uib-datepicker td,
uib-daypicker  td

 {
    margin: 5px 5px;
    padding: 7px 5px;
    border-top: 1px solid #666666;
    
}

button.ui.button.small.active {
    color: #EEEEEE !important;
    background: RGBA(84, 133, 107, 1.00) !important
}


.day-selector button.ui.button.small span {
    padding: .2em .5em;    
}

