<style>
    .ui-grid-filter-input {
        display: inline-block;
        position: relative;
        height: 25px !important;
        width: 0 auto;
        min-width: 75% !important;
        max-width: 90%;
        padding: 0px;
    }
</style>

<div ng-class="{ 'sortable': sortable }">
    <!-- <div class="ui-grid-vertical-bar">&nbsp;</div> -->
    <div class="ui-grid-cell-contents" col-index="renderIndex" title="TOOLTIP">
        <span ng-bind="col.displayName CUSTOM_FILTERS"></span>

        <span ui-grid-visible="col.sort.direction" ng-class="{ 'ui-grid-icon-up-dir': col.sort.direction == asc, 'ui-grid-icon-down-dir': col.sort.direction == desc, 'ui-grid-icon-blank': !col.sort.direction }">
            &nbsp;
        </span>
    </div>

    <div class="ui-grid-column-menu-button" ng-if="grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false" ng-click="toggleMenu($event)" ng-class="{'ui-grid-column-menu-button-last-col': isLastCol}">
        <i class="ui-grid-icon-angle-down">&nbsp;</i>
    </div>

    <div ui-grid-filter=""></div>

</div>